#card-back.hidden {
  display: none;
}

.card-back-bg {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px #36383f;

  background: linear-gradient(to right, #595959, #030712 40%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  width: 270px;
  height: 160px;
  padding: 30px 0;
  border-radius: 10px;
}

.bg-gray {
  height: 40px;
  background: #a9a9a9;
  width: 100%;
}

.cvv {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cvv span:first-child {
  content: "";
  display: inline-block;
  background: url("../img/dino-svg.svg") no-repeat center;
  width: 30px;
  height: 30px;
}

.cvv span:last-child {
  box-sizing: border-box;
  padding: 5px 15px;
  border: 2px solid #4968b5;
  border-radius: 7px;
  text-align: end;
  min-width: 60px;
}

@media (width >= 800px) {
  .card-back-bg {
    width: 370px;
    height: 260px;
    justify-content: space-evenly;
  }

  .cvv span:first-child {
    width: 50px;
    height: 50px;
  }

  .cvv span:last-child {
    font-size: 1.5rem;
  }
}
