#card-front.hidden {
  display: none;
}

.card-front-bg {
  box-sizing: border-box;
  box-shadow: 3px 3px 10px #36383f;
  background: linear-gradient(to right, #595959, #030712 40%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;

  width: 270px;
  height: 160px;
  padding: 10px 30px;
  border-radius: 10px;
}

.card-front-bg > h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
}

.card-front-bg > h4::after {
  content: "";
  display: inline-block;
  background: url("../img/dino-svg.svg") no-repeat center;
  width: 30px;
  height: 30px;
}

.card-number {
  background: none;
  padding: 5px 10px;
  border: 1px solid #4968b5;
  border-radius: 7px;
  text-align: center;
}

.card-number > span {
  letter-spacing: 1px;
  font-size: 1rem;
  text-align: center;
  align-items: center;
}

.card-number > span:nth-child(even)::before,
.card-number > span:nth-child(3)::before {
  content: "-";
  display: inline-block;
  padding-right: 3px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.card-footer span {
  color: #a3a3a3;
}

.validity p,
.validity span {
  text-align: end;
}

@media (width >= 800px) {
  .card-front-bg {
    width: 370px;
    height: 260px;
    justify-content: space-evenly;
  }

  .card-front-bg > h4 {
    font-size: 1.5rem;
  }

  .card-front-bg > h4::after {
    width: 50px;
    height: 50px;
  }

  .card-number > span {
    font-size: 1.5rem;
  }

  .card-footer p,
  .card-footer span {
    font-size: 1.125rem;
  }
}
