.infos {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 10px;
}

.infos form {
  display: flex;
  flex-direction: column;
}

.infos label {
  margin-top: 10px;
  font-weight: 600;
}

.infos input,
.infos select {
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}

.infos-validity {
  display: flex;
  gap: 5px;
}

.infos-validity select {
  flex: 1;
}

.infos-validity option {
  font-weight: 600;
}
