body {
  margin: 0;
  padding: 0 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
label,
p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}
